<!--div class="stepwizard col-md-offset-0">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a  type="button" class="btn btn-primary btn-circle" disabled="disabled">1</a>
        <p>Flight Selection</p>
      </div>
      <div class="stepwizard-step">
        <a  type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Review</p>
      </div>
      <div class="stepwizard-step">
        <a  type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Traveller Details</p>
      </div>
      <div class="stepwizard-step">
          <a  type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
          <p>Seat Selection </p>
        </div>
        <div class="stepwizard-step">
            <a  class="btn btn-default btn-circle" >5</a>
            <p>Flight Extras</p>
          </div>
          <div class="stepwizard-step">
              <a  type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
              <p>Payent</p>
            </div>
            <div class="stepwizard-step">
                <a  type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
                <p>Done</p>
              </div>
    </div>
  </div-->

  <div class="container">
    <button style="float:right" class="btn btn-success btn-lg" data-toggle="modal" data-target="#cart" ><span class="fa fa-shopping-cart" ></span> R {{flightInfo.farePrice*traveller+seatTotal}}</button><br>
    
     <!-- Modal -->
  <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cart Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <th>Fare Total</th>
                <th>Seat Total</th>
                <th *ngIf="this.flightExtras!=0">ExtraTotal</th>
                <th>Grand Total</th>
              </thead>
              <tbody>
                <td>R {{fareTotal}}</td>
                <td>{{seatTotal}}</td>
                <td *ngIf="this.flightExtras!=0">{{this.extraTotal}}</td>
                <td>{{this.grandTotal}}</td>
              </tbody>
            </table>
              <br>
              <h5>Fare Total: R {{flightInfo.farePrice*traveller}}</h5>
              <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                    <th>Fare Price</th>
                    <th>Traveller Quantity</th>
                    <th>VAT</th>
                    <th>Passenger Safety Charge</th>
                    <th>Passenger Security Charge</th>
                    <th>Passenger Service Charge</th>
                    <th>Total Taxes</th>
  
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>R {{flightInfo.farePrice}}</td>
                    <td>{{traveller}}</td>
                    <td>R {{flightInfo.VAT}}</td>
                    <td>R {{flightInfo.passengerSafetyCharge}}</td>
                    <td>R {{flightInfo.passengerSecurityCharge}}</td>
                    <td>R {{flightInfo.passengerServiceCharge}}</td>
                    <td>R {{flightInfo.VAT+flightInfo.passengerSafetyCharge+flightInfo.passengerSecurityCharge+flightInfo.passengerServiceCharge}}</td>
                  </tr>
                </tbody>
                </table>
  
                <h5>Seat Total: {{this.seatTotal}}</h5>
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <th>Seat Number</th>
                    <th>Seat Type</th>
                    <th>Seat Position</th>
                    <th>Seat Price</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let seatInfo of seatInfo">
                    <td>{{seatInfo.seatColumn}}{{seatInfo.seatRow}}</td>
                    <td>{{seatInfo.seatType}}</td>
                    <td>{{seatInfo.seatPosition}}</td>
                    <td>R {{seatInfo.seatPrice}}</td>
                    </tr>
                  </tbody>
                </table>
  
              <div *ngIf="this.flightExtras!=0">
                <h5>Fare Total: {{this.extraTotal}}</h5>
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <th>Extra Type</th>
                    <th>Extra Price</th>
                    <th></th>
                  </thead>
                  <tbody *ngFor="let extra of this.flightExtras">
                    <td>{{extra.extraType}}</td>
                    <td>R {{extra.extraPrice}}</td>
                    <td><button class="btn btn-danger" (click)="deSelect(i)" >Deselect Extra</button></td>
                  </tbody>
                  </table>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <h4>Customise your flight(s) with these extras</h4><br>
    <h5>We've handpicked these flight extras for you to make tour trip as smooth as possible. You'll thank us later.</h5><br>
  <div *ngFor="let aircraft of data">
    <div *ngFor="let flight of aircraft.flightSchedule">
      <div class="row">
        <div class="col-md-4" *ngFor="let extra of flight.flightExtra|slice:0:1">
            <img src="{{extra.extraImage}}"/>
            <h4>{{extra.extraType}}</h4>
            <h5>{{extra.extraDescription}}</h5>
            <h5>R {{extra.extraPrice}}</h5><br>
            <h6>per traveller, per flight</h6>
            <br><button class="btn btn-primary" [disabled]="count==traveller" (click)="addExtra(extra.extraType,extra.extraDescription,extra.extraPrice)">{{extra.extraType}}</button><br>
        </div>
        <div class="col-md-4" *ngFor="let extra of flight.flightExtra|slice:1:flight.flightExtra.length">
          <img src="{{extra.extraImage}}"/>
          <h4>{{extra.extraType}}</h4>
          <h5>{{extra.extraDescription}}</h5>
          <h5>R {{extra.extraPrice}}</h5><br>
          <h6>per traveller, per flight</h6>
          <br><button class="btn btn-primary" (click)="addExtra(extra.extraType,extra.extraDescription,extra.extraPrice)">{{extra.extraType}}</button><br>
        </div>
      </div>
    </div>
   
  </div>
  </div>
  <br>
  <button style="float:left" class="btn btn-primary "(click)="back()">Back</button>
  <button style="float:right" class="btn btn-success"(click)="next()">Continue To Payment</button>